<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
    <add key="http_proxy" value="" />
    <add key="https_proxy" value="" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org.v2" value="https://www.nuget.org/api/v2" />
    <add key="nuget.azure.cn" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3" />
    <add key="microsoft" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials />
</configuration>